.cateries-container {
  display: inline-block;
  width: auto;
  padding: 5px;
}
.categories-card {
  width: 170px;
  margin: 20px;
  text-align: center;
}

.categories-card > a > img {
  height: 150px;
  width: 200px;
}
