.cateries-container {
  display: inline-block;
}
.categories-card {
  height: 220px;
  width: 170px;
  margin: 20px;
  position: relative;
  display: inline-block;
  text-align: center;
}

.categories-card > img {
  display: block;
  width: 100%;
  height: 150px;
  position: relative;
  border-radius: 25px;
}
.categories-title {
  font-weight: bold;
  position: absolute;
  top: 25%;
  left: 25%;
  color: #fff;
  opacity: 0.7;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}
