.cateries-container {
  overflow: auto;
  white-space: nowrap;
}

.categories-card {
  display: inline-block;
  color: #fff;
  text-align: center;
  margin: 30px 1%;
  padding: 14px;
  text-decoration: none;
  background: #1bcb7f;
}
